.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.top {
    justify-content: flex-start;
  }

  .social {
    margin-top: 16px;
    display: none;

    &.visible {
      display: block;
    }

    ul {
      display: flex;
      justify-content: center;
      list-style: none;

      li + li {
        margin-left: 16px;
      }
    }
  }
}

.swiper {
  width: 100%;
  overflow: hidden;
}
